* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: #F8F8F8;
  padding: 2rem 0;
  border-bottom: 1px solid #DDDDDD;
}

.navbar-toggle{
  margin-right: 3rem;
  border: 2px solid #DDDDDD;
}

.icon-bar {
  background-color: black;
}

.nav-container {
  padding: 0;
}

.nav-link {
  color: gray;
}

.nav-link:hover {
  color: black;
}

.page-header {
  margin-top: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

h1 {
  font-size: 6rem;
  grid-column: 75%;
  grid-row: 1 / span 1;
}

h2 {
  color: gray;
  font-size: 4rem;
  grid-column: 25%;
  grid-row: 1 / span 2;
  align-self: end;
  padding-bottom: 0.5rem;
}

h3 {
  margin: 1rem 0;
}

.example-page-header {
  background-color: #EEEEEE;
  padding: 6rem 4rem;
  border-radius: 6px;
  margin-bottom: 2rem;
}

.main-header {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 1fr;
  /* gap: 0 15rem; */
}

.main-content {
  display: grid;
}

.main-content-p {
  font-size: 2rem;
  margin-top: 2rem;
}

.btn {
  color: white;
  /* background-color: #73B466; */
  margin-top: 3rem;
  justify-self: center;
}

.excepteur {
  font-weight: bolder;
}

.labore {
  font-style: italic;
}

.secondary-content {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 0 3rem;
}

.our-brands {
  background-color: #F5F5F5;
  border: 2px solid #EDEDED;
  border-radius: 4px;
  padding: 4rem 2rem;
  grid-column-start: 1;
  grid-row-start: 1;

}

.placeholder-picture {
  grid-column-start: 2;
  grid-row-start: 1;
}

.welcome {
  grid-column-start: 3;
  grid-row-start: 1;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 6rem;
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
  }
  
  h2 {
    color: gray;
    font-size: 4rem;
    grid-column: 3 / span 4;
    grid-row: 1 / span 2;
    align-self: end;
    padding-bottom: 0.5rem;
  }

  .main-header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    /* gap: 0 15rem; */
  }

  .secondary-content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
  }

  .welcome {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }

  .placeholder-picture {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }

  .our-brands {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }
 }

/* Extra small devices (phones, 576px and up) */
@media only screen and (max-width: 576px) {
  .main-header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
  }

  .example-page-header {
    padding: 4rem 2rem;
    border-radius: 6px;
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 3rem;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    margin-bottom: 1rem;;
  }
  
  h2 {
    font-size: 2rem;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    padding-bottom: 0;
  }

  .main-content-p {
    font-size: 1.7rem;
    margin-top: 1rem;
  }

  .btn {
    margin-top: 2rem;
  }

  .secondary-content {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
  }

  .welcome {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  .our-brands {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    margin-bottom: 2rem;
  }

  .placeholder-picture {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }
 }

